In [6]:
import pandas as pd
bollywood_data_set = pd.read_csv('bollywood.csv')
bollywood_data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SlNo                 149 non-null    int64
 1   Release Date         149 non-null    object
 2   MovieName            149 non-null    object
 3   ReleaseTime          149 non-null    object
 4   Genre                149 non-null    object
 5   Budget               149 non-null    int64
 6   BoxOfficeCollection  149 non-null    float64
 7   YoutubeViews         149 non-null    int64
 8   YoutubeLikes         149 non-null    int64
 9   YoutubeDislikes      149 non-null    int64
dtypes: float64(1), int64(5), object(4)
memory usage: 11.8+ KB

In [18]:
#movies got released in each genre
bollywood_data_set_genre = bollywood_data_set.Genre.value_counts()
print("Movies in each genre are : \n", bollywood_data_set_genre)

Movies in each genre are :
 Comedy       36
 Drama       35
Thriller     26
Romance      25
Action       21
Thriller      3
Action        3
Name: Genre, dtype: int64

In [19]:
#Genre having the largest number of releases
print("Genre with largest release : \n", bollywood_data_set_genre.head(1))

Genre with largest release :
 Comedy    36
Name: Genre, dtype: int64

In [25]:
#Sort the number of releases in each genre in descending order
desc_sorted_genre =bollywood_data_set_genre.sort_values(ascending=False) 
print("Genre sorted in desc order : \n",desc_sorted_genre)

Genre sorted in desc order :
 Comedy       36
 Drama       35
Thriller     26
Romance      25
Action       21
Thriller      3
Action        3
Name: Genre, dtype: int64