In [1]:
import pandas as pd
bollywood_data_set = pd.read_csv('bollywood.csv')
bollywood_data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SlNo                 149 non-null    int64
 1   Release Date         149 non-null    object
 2   MovieName            149 non-null    object
 3   ReleaseTime          149 non-null    object
 4   Genre                149 non-null    object
 5   Budget               149 non-null    int64
 6   BoxOfficeCollection  149 non-null    float64
 7   YoutubeViews         149 non-null    int64
 8   YoutubeLikes         149 non-null    int64
 9   YoutubeDislikes      149 non-null    int64
dtypes: float64(1), int64(5), object(4)
memory usage: 11.8+ KB

In [12]:
roi = []
for i in range(0, len(bollywood_data_set)):
    data_set = bollywood_data_set.iloc[i]
    rate = (data_set['BoxOfficeCollection'] - data_set['Budget'])/data_set['Budget']
#     print("roi is : ", roi)
    roi.append(rate)
bollywood_data_set['Rate of return'] = roi
top_movies = bollywood_data_set.sort_values(by='Rate of return', ascending=False).head(10)
print("Top 10 movies with maximum rate of return is : \n", top_movies["MovieName"])

Top 10 movies with maximum rate of return is :
 64                    Aashiqui 2
89                            PK
132                  Grand Masti
135                 The Lunchbox
87                        Fukrey
58                      Mary Kom
128                       Shahid
37     Humpty Sharma Ki Dulhania
101           Bhaag Milkha Bhaag
115              Chennai Express
Name: MovieName, dtype: object