In [1]:
import pandas as pd
bollywood_data_set = pd.read_csv('bollywood.csv')
bollywood_data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SlNo                 149 non-null    int64
 1   Release Date         149 non-null    object
 2   MovieName            149 non-null    object
 3   ReleaseTime          149 non-null    object
 4   Genre                149 non-null    object
 5   Budget               149 non-null    int64
 6   BoxOfficeCollection  149 non-null    float64
 7   YoutubeViews         149 non-null    int64
 8   YoutubeLikes         149 non-null    int64
 9   YoutubeDislikes      149 non-null    int64
dtypes: float64(1), int64(5), object(4)
memory usage: 11.8+ KB

In [7]:
bollywood_data_set["idx"] = bollywood_data_set['Release Date'].str.find('-')

monthData = []
for i in range(0, len(bollywood_data_set)) :
    tempIdx = bollywood_data_set.iloc[i].idx + 1
    monthData.append(bollywood_data_set.loc[i]['Release Date'][tempIdx:tempIdx + 3])
    
bollywood_data_set["month"] = monthData
high_budget_data_set = bollywood_data_set.query('Budget >= 25')

group_high_budget_data_set = high_budget_data_set.groupby("month")

month_with_most_release = group_high_budget_data_set.size().sort_values(ascending=False).head(1)
print("Moth with most movie releases is : \n", month_with_most_release)

Moth with most movie releases is :
 month
Feb    9
dtype: int64