## 1.7 Introduction to Python

### 1.7.1 Declaring Variables

In [44]:
var1 = 2
var2 = 5.0
var3 = True
var4 = "Machine Learning"

In [45]:
print("Value of var1 :", var1)
print("Value of var2 :", var2)
print("Value of var3 :", var3)
print("Value of var4 :", var4)

Value of var1 : 2
Value of var2 : 5.0
Value of var3 : True
Value of var4 : Machine Learning

In [46]:
type( var1 )

int

In [47]:
type( var2 )

float

In [48]:
type(var3)

bool

In [49]:
type(var4)

str

### 1.7.2 Conditional Statements

In [50]:
# Checking a condition if the variable value is more than 1
if var1 > 1:
    print( "Bigger than 1" )

Bigger than 1

In [51]:
x = 10
y = 12

# if x is greater than y
if x > y:
    print ("x > y")
# if x is lesser than y    
elif x < y:
    print ("x < y")
else:        
    print ("x = y")

x < y

In [52]:
# Initialize
x = 5

# Assign True if x is more than 10 or assign False using ternary operator
isGreater = True if x > 10 else False

In [53]:
isGreater

False

### 1.7.3 Generating Sequence Numbers

In [54]:
# Initializing the sequence of numbers starting from 1
# and ending (not including) with 6
numbers = range( 1, 6)

numbers

range(1, 6)

In [55]:
list(numbers)

[1, 2, 3, 4, 5]

In [56]:
numbers = range( 5, 15, 2)
list(numbers)

[5, 7, 9, 11, 13]

### 1.7.4 Control Flow Statements

In [57]:
# Iterate through the collection
for i in numbers:
    print (i)

5
7
9
11
13

In [58]:
# Initialize the value of 1
i = 1

# check the value of i to check if the loop will be continued or not
while i < 5:
    
    print(i)
    # Increment the value of i.
    i = i+1
    
# print after the value of i
print('Done')

1
2
3
4
Done

### 1.7.5 Functions

In [59]:
def addElements( a, b ):
    ## processing
    return a + b

In [60]:
result = addElements( 2, 3 )

result

5

In [61]:
result = addElements( 2.3, 4.5 )

result

6.8

In [62]:
result = addElements( "python", "workshop" )

result

'pythonworkshop'

In [63]:
def addElements( a, b = 4 ):
    return a + b

In [64]:
addElements( 2 )

6

In [65]:
addElements( 2, 5 )

7

In [66]:
def addElements( a, b ):
    return a + b, a - b

In [67]:
x, y = addElements(4, 3)

In [68]:
x

7

In [69]:
y

1

In [70]:
z = addElements(4, 3)

In [71]:
z[0]

7

In [72]:
z[1]

1

### 1.7.6 Working with Collections

#### 1.7.6.1 List

In [73]:
## Create an empty list
emptyList = []

In [74]:
batsmen = ['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni']

In [75]:
batsmen[0]

'Rohit'

In [76]:
## Slicing an list
batsmen[0:2]

['Rohit', 'Dhawan']

In [77]:
## Accessing the last element
batsmen[-1]

'Dhoni'

In [78]:
batsmen[-3:]

['Rahane', 'Rayudu', 'Dhoni']

In [79]:
# how many elements in the list
len( batsmen )

6

In [80]:
bowlers = ['Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal']

In [81]:
all_players = batsmen + bowlers

In [82]:
all_players

['Rohit',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal']

In [83]:
'Bumrah' in bowlers

True

In [84]:
'Rayudu' in bowlers

False

Finding the index of an item in the list.

In [86]:
all_players.index( 'Dhoni' )

5

In [87]:
all_players.reverse()

all_players

['Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit']

#### 1.7.6.2 Tuples

In [89]:
odiDebut = ( 'Kohli', 2008 )

In [90]:
odiDebut

('Kohli', 2008)

In [91]:
odiDebut[0]

'Kohli'

In [76]:
players = tuple( all_players )

In [77]:
players

('Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit')

#### 1.7.6.3 Set

In [97]:
setOfNumbers = {6,1,1,2,4,5}

In [98]:
setOfNumbers

{1, 2, 4, 5, 6}

In [99]:
wc2011 = {"Dhoni", "Sehwag", "Tendulkar", "Gambhir", "Kohli", "Raina", "Yuvraj", "Yusuf"}
wc2015 = {"Dhoni", "Dhawan", "Rohit", "Rahane", "Kohli", "Raina", "Rayudu", "Jadeja"}

In [100]:
wc2011.union( wc2015 )

{'Dhawan',
 'Dhoni',
 'Gambhir',
 'Jadeja',
 'Kohli',
 'Rahane',
 'Raina',
 'Rayudu',
 'Rohit',
 'Sehwag',
 'Tendulkar',
 'Yusuf',
 'Yuvraj'}

In [101]:
wc2011.intersection( wc2015 )

{'Dhoni', 'Kohli', 'Raina'}

In [102]:
wc2015.difference( wc2011 )

{'Dhawan', 'Jadeja', 'Rahane', 'Rayudu', 'Rohit'}

In [103]:
wc2015 - wc2011

{'Dhawan', 'Jadeja', 'Rahane', 'Rayudu', 'Rohit'}

#### 1.7.6.4 Dictionary

In [84]:
wcWinners = { 1975: "West Indies", 
              1979: "West Indies", 
              1983: "India",
              1987: "Australia",
              1991: "Pakistan",
              1996: "Srilanka",
              1999: "Australia",
              2003: "Australia",
              2007: "Australia",
              2011: "India"}

In [85]:
wcWinners[1983]

'India'

In [86]:
wcWinners.values()

dict_values(['West Indies', 'West Indies', 'India', 'Australia', 'Pakistan', 'Srilanka', 'Australia', 'Australia', 'Australia', 'India'])

In [87]:
set(wcWinners.values())

{'Australia', 'India', 'Pakistan', 'Srilanka', 'West Indies'}

In [88]:
wcWinners[2015] = 'Australia'

In [89]:
wcWinners

{1975: 'West Indies',
 1979: 'West Indies',
 1983: 'India',
 1987: 'Australia',
 1991: 'Pakistan',
 1996: 'Srilanka',
 1999: 'Australia',
 2003: 'Australia',
 2007: 'Australia',
 2011: 'India',
 2015: 'Australia'}

### 1.7.7 Dealing with Strings

In [112]:
string0 = 'python'
string1 = """machine" learning"""

In [108]:
string2 = """This is a 
 multiline string"""

In [113]:
# Converting to upper case
string0.upper()
# Similarly string.lower() can be used to convert to lower case.
# string0.lower()

'PYTHON'

In [114]:
tokens = string1.split()
tokens

['machine"', 'learning']

### 1.7.8 Functional Programming
#### 1.7.8.1 Example 1: Map

In [116]:
intList = [1,2,3,4,5,6,7,8,9]

In [117]:
# Create an empty list.
squareList = []

# Loop through the intList, square every item and append to result list squareList.
for x in intList:
    squareList.append( pow( x, 2 ) )

print( squareList )

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [118]:
def square_me( x ):
    return x * x

In [119]:
squareList = map( square_me, intList)

In [120]:
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [121]:
squareList = map(lambda x: x*x, intList)
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [124]:
squareList = [x*x for x in intList]

In [125]:
squareList

[1, 4, 9, 16, 25, 36, 49, 64, 81]

#### 1.7.8.2 Example 2: Filter

In [126]:
evenInts = filter( lambda x : x % 2 == 0, intList )

In [127]:
list( evenInts )

[2, 4, 6, 8]

In [128]:
evenInts = [x for x in intList if x%2==0]

In [129]:
evenInts

[2, 4, 6, 8]

### 1.7.9 Modules and Packages

In [141]:
import math

## Taking square root of a value
math.sqrt(16)

In [131]:
from random import sample

In [136]:
sample( range(0, 11), 3)

[9, 2, 7]

### 1.7.10 Other Features

In [105]:
import random 

randomList = random.sample( range(0, 100), 20)

randomList

[74, 17, 91, 75, 43, 81, 31, 12, 56, 32, 79, 69, 30, 34, 90, 61, 25, 21, 84, 4]

In [106]:
from statistics import mean, median

def getMeanAndMedian( listNum ):
    return mean(listNum), median(listNum)

In [107]:
mean, median = getMeanAndMedian( randomList )

In [109]:
print( "Mean: ", mean, " Median: ", median)

Mean:  50.45  Median:  49.5